<h1>Contact</h1>
<br>
<br>
<div>
    <span class="material-icons align-bottom">
        <a href="mailto:{{ email }}">email</a>
    </span>
    <span class="material-icons align-bottom">
        <a href="{{ linkedIn }}" target="_blank"><img src="/assets/linkedIn.jpeg" class="white logo"></a>
    </span>
    <span class="material-icons align-bottom">
        <a href="tel:{{ tel }}">smartphone</a>
    </span>
    <span class="material-icons align-bottom">
        <a href="{{ insta }}" target="_blank"><img src="/assets/insta.png" class="logo"></a>
    </span>
    <span class="material-icons align-bottom">
        <a href="{{ github }}" target="_blank"><img src="/assets/git.png" class="logo white ms-2"></a>
    </span>
</div>
