<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/jd2.png" />
  </head>
  <body>
    <main>
      <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/whoami">Whoami</a>
        <a href="/contact">Contact</a>
      </nav>
      {{ body|safe }}
      <footer>curl-friendly - minimal - intentional</footer>
    </main>
  </body>
</html>
