<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Jip Derksen</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
            <a class="nav-link" routerLink="/about" routerLinkActive="active">Whoami</a>
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>
    </div>
</header>
