<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Jip Derksen</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" routerLink="/home" routerLinkActive>Home</a>
            <a class="nav-link" routerLink="/projects" routerLinkActive>Projects</a>
            <a class="nav-link" routerLink="/about" routerLinkActive>Whoami</a>
            <a class="nav-link" routerLink="/contact" routerLinkActive>Contact</a>
        </nav>
    </div>
</header>
